.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3000;
  background-color: rgba($color-black, 0.8);

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &-content {
    @include ceneterHorizontalVertical;
    border-radius: 3px;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    display: table;
    overflow: hidden;
    // opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;
  }

  &-left {
    @include respond(tab-hor) {
      display: table-row;
    }
    width: 33.3333333%;
    display: table-cell;
  }

  &-right {
    @include respond(tab-hor) {
      width: 100%;

      & a {
        text-align: center;
      }
    }
    display: table-cell;
    width: 66.6666667%;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &-image {
    @include respond(tab-hor) {
      display: inline-block;
      width: 50%;
    }
    display: block;
    width: 100%;
    height: 100%;
  }

  &-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    @include respond(tab) {
      column-count: 1;
    }
  }

  &-close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
